.navbar {
    background-color: #006D77;
    color: white;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar-links a:hover {
    color: #FFDDD2;
}