#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.maincontainer{

 display: flex;
  flex: 1;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}
